<% @entries.each do |entry| %>
  <div class="row">
    <div class="span8">
      <div class="well">
        <img src="<%= gravatar entry.email %>" title="<%= entry.email %>" alt="<%= entry.email %>'s gravatar" class="gravatar" />
        <a href="/id/<%= entry.uuid %>" title="Last updated <%= fmt_date entry.updated_at %>"><%= fmt_date entry.created_at %></a>:
        <div class="post-text">
          <%= m(h(entry.text)) %>
        </div>
      </div>
    </div> <!-- /span8 -->
  </div> <!-- /row -->
<% end %>
